<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primera app web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Bienvenido a mi primera app web!</h1>
    <h3>Me encanta el backend =3</h3>

    <div>
        <p>Esta es una aplicacion web simple creada con Flask.</p>
    </div>

    <div>
        <h1>Catalogo de productos</h1>
        <ul>
            {% for producto in productos %}
                <li>{{ producto.nombre }} - ${{ producto.precio }}</li>
                <a href="{{  url_for('agregar', id=producto.id) }}">Agregar al carrito</a>
            {% endfor %}
        </ul>

        <a href="{{ url_for('carrito')}}"></a>
    </div>
</body>
</html>
